#bodyIndex {
  display: grid;
  justify-items: center;
}

.container {
  display: grid;
  justify-items: start;
  margin: auto;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  width: 60%;
  box-shadow: 0px 11px 34px -3px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 11px 34px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 11px 34px -3px rgba(0, 0, 0, 0.75);
}

.containerForm {
  display: grid;
  justify-items: start;
  margin: auto;
  margin: 20px;
  padding: 20px;
  width: 60%;
}

.container_bottom {
  width: 100%;
}

#btn {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(112, 42, 224);
  color: white;
}
